<a href="https://colab.research.google.com/github/bCBowers/sql_nba/blob/main/SQL_Workshop_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### SQL Workshop

***Environment and Data Setup***

Install needed libraries, ingest data, and setup SQL database

In [ ]:
pip install nba_api

Collecting nba_api
  Downloading nba_api-1.4.1-py3-none-any.whl (261 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 261.7/261.7 kB 2.6 MB/s eta 0:00:00
Requirement already satisfied: certifi<2024.0.0,>=2023.7.22 in /usr/local/lib/python3.10/dist-packages (from nba_api) (2023.11.17)
Requirement already satisfied: numpy<2.0.0,>=1.22.2 in /usr/local/lib/python3.10/dist-packages (from nba_api) (1.23.5)
Requirement already satisfied: requests<3.0,>=2.31 in /usr/local/lib/python3.10/dist-packages (from nba_api) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.31->nba_api) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.31->nba_api) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.31->nba_api) (2.0.7)
Installing collected packages: nba_api
Successfully installed nba_api-1.4.1

-- Finalize notes
-- Figure out sharing

In [ ]:
from nba_api.stats.endpoints import leagueleaders
import pandas as pd
from sqlalchemy import create_engine, text

# Pull data for the top 500 scorers
top_500_23_24 = leagueleaders.LeagueLeaders(
    season='2023-24',
    season_type_all_star='Regular Season',
    stat_category_abbreviation='PTS'
).get_data_frames()[0][:500]

engine = create_engine('sqlite://', echo=False)
conn = engine.connect()

top_500_23_24.to_sql(name='league_leaders_23_24', con=engine)

500

Can see the same data via both Pandas and SQL. Difference in visualization is due to this not being a native SQL environment.

In [ ]:
top_500.head(10)

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
0,1628983,1,Shai Gilgeous-Alexander,1610612760,OKC,47,1615,514,943,0.545,...,265,299,104,36,102,120,1472,1598,2.93,1.02
1,203507,2,Giannis Antetokounmpo,1610612749,MIL,46,1618,530,872,0.608,...,533,282,63,51,166,139,1421,1667,1.70,0.38
2,1629029,3,Luka Doncic,1610612742,DAL,40,1499,469,960,0.489,...,344,382,57,24,157,74,1388,1464,2.43,0.36
3,1628973,4,Jalen Brunson,1610612752,NYK,47,1678,450,936,0.481,...,182,301,42,10,108,97,1272,1165,2.79,0.39
4,1628369,5,Jayson Tatum,1610612738,BOS,46,1650,417,885,0.471,...,387,204,47,26,119,95,1235,1252,1.71,0.40
5,203999,5,Nikola Jokic,1610612743,DEN,47,1584,481,822,0.585,...,569,423,55,43,138,121,1235,1795,3.06,0.40
6,203954,7,Joel Embiid,1610612755,PHI,34,1157,402,754,0.533,...,384,193,39,60,126,98,1201,1352,1.53,0.31
7,201142,8,Kevin Durant,1610612756,PHX,41,1529,416,780,0.533,...,261,236,34,52,128,76,1164,1221,1.84,0.27
8,1630162,9,Anthony Edwards,1610612750,MIN,45,1571,396,853,0.464,...,233,236,53,22,153,86,1149,1037,1.54,0.35
9,203076,10,Anthony Davis,1610612747,LAL,46,1651,437,789,0.554,...,555,170,53,108,98,115,1147,1521,1.74,0.54

In [ ]:
cursor = conn.execute(text("select * from league_leaders_23_24 limit 10"))
for row in cursor:
  print(row)

(0, 1628983, 1, 'Shai Gilgeous-Alexander', 1610612760, 'OKC', 47, 1615, 514, 943, 0.545, 56, 161, 0.348, 388, 435, 0.892, 44, 221, 265, 299, 104, 36, 102, 120, 1472, 1598, 2.93, 1.02)
(1, 203507, 2, 'Giannis Antetokounmpo', 1610612749, 'MIL', 46, 1618, 530, 872, 0.608, 20, 79, 0.253, 341, 516, 0.661, 121, 412, 533, 282, 63, 51, 166, 139, 1421, 1667, 1.7, 0.38)
(2, 1629029, 3, 'Luka Doncic', 1610612742, 'DAL', 40, 1499, 469, 960, 0.489, 155, 413, 0.375, 295, 378, 0.78, 32, 312, 344, 382, 57, 24, 157, 74, 1388, 1464, 2.43, 0.36)
(3, 1628973, 4, 'Jalen Brunson', 1610612752, 'NYK', 47, 1678, 450, 936, 0.481, 129, 309, 0.417, 243, 291, 0.835, 27, 155, 182, 301, 42, 10, 108, 97, 1272, 1165, 2.79, 0.39)
(4, 1628369, 5, 'Jayson Tatum', 1610612738, 'BOS', 46, 1650, 417, 885, 0.471, 139, 379, 0.367, 262, 322, 0.814, 42, 345, 387, 204, 47, 26, 119, 95, 1235, 1252, 1.71, 0.4)
(5, 203999, 5, 'Nikola Jokic', 1610612743, 'DEN', 47, 1584, 481, 822, 0.585, 49, 137, 0.358, 224, 275, 0.815, 141, 428, 569, 423, 55, 43, 138, 121, 1235, 1795, 3.06, 0.4)
(6, 203954, 7, 'Joel Embiid', 1610612755, 'PHI', 34, 1157, 402, 754, 0.533, 41, 112, 0.366, 356, 403, 0.883, 89, 295, 384, 193, 39, 60, 126, 98, 1201, 1352, 1.53, 0.31)
(7, 201142, 8, 'Kevin Durant', 1610612756, 'PHX', 41, 1529, 416, 780, 0.533, 92, 205, 0.449, 240, 274, 0.876, 21, 240, 261, 236, 34, 52, 128, 76, 1164, 1221, 1.84, 0.27)
(8, 1630162, 9, 'Anthony Edwards', 1610612750, 'MIN', 45, 1571, 396, 853, 0.464, 111, 285, 0.389, 246, 292, 0.842, 28, 205, 233, 236, 53, 22, 153, 86, 1149, 1037, 1.54, 0.35)
(9, 203076, 10, 'Anthony Davis', 1610612747, 'LAL', 46, 1651, 437, 789, 0.554, 17, 54, 0.315, 256, 318, 0.805, 146, 409, 555, 170, 53, 108, 98, 115, 1147, 1521, 1.74, 0.54)

Load in additional years worth of data to enrich our analysis.

In [ ]:
top_500_22_23 = leagueleaders.LeagueLeaders(
    season='2022-23',
    season_type_all_star='Regular Season',
    stat_category_abbreviation='PTS'
).get_data_frames()[0][:500]

top_500_22_23.to_sql(name='league_leaders_22_23', con=engine)

top_500_21_22 = leagueleaders.LeagueLeaders(
    season='2021-22',
    season_type_all_star='Regular Season',
    stat_category_abbreviation='PTS'
).get_data_frames()[0][:500]

top_500_21_22.to_sql(name='league_leaders_21_22', con=engine)

top_500_20_21 = leagueleaders.LeagueLeaders(
    season='2020-21',
    season_type_all_star='Regular Season',
    stat_category_abbreviation='PTS'
).get_data_frames()[0][:500]

top_500_20_21.to_sql(name='league_leaders_20_21', con=engine)

top_500_19_20 = leagueleaders.LeagueLeaders(
    season='2019-20',
    season_type_all_star='Regular Season',
    stat_category_abbreviation='PTS'
).get_data_frames()[0][:500]

top_500_19_20.to_sql(name='league_leaders_19_20', con=engine)

500

Able to query both tables together using a UNION command.

In [ ]:
cursor = conn.execute(text("""
  with combined as
    (select *, '2023-24' as season from league_leaders_23_24
      union
    select *, '2022-23' as season from league_leaders_22_23
    )
    select * from combined
    limit 10
"""))
for row in cursor:
  print(row)

(0, 1628369, 1, 'Jayson Tatum', 1610612738, 'BOS', 74, 2732, 727, 1559, 0.466, 240, 686, 0.35, 531, 622, 0.854, 78, 571, 649, 342, 78, 51, 213, 160, 2225, 2209, 1.61, 0.37, '2022-23')
(0, 1628983, 1, 'Shai Gilgeous-Alexander', 1610612760, 'OKC', 47, 1615, 514, 943, 0.545, 56, 161, 0.348, 388, 435, 0.892, 44, 221, 265, 299, 104, 36, 102, 120, 1472, 1598, 2.93, 1.02, '2023-24')
(1, 203507, 2, 'Giannis Antetokounmpo', 1610612749, 'MIL', 46, 1618, 530, 872, 0.608, 20, 79, 0.253, 341, 516, 0.661, 121, 412, 533, 282, 63, 51, 166, 139, 1421, 1667, 1.7, 0.38, '2023-24')
(1, 203954, 2, 'Joel Embiid', 1610612755, 'PHI', 66, 2284, 728, 1328, 0.548, 66, 200, 0.33, 661, 771, 0.857, 113, 557, 670, 274, 66, 112, 226, 205, 2183, 2369, 1.21, 0.29, '2022-23')
(2, 1629029, 3, 'Luka Doncic', 1610612742, 'DAL', 40, 1499, 469, 960, 0.489, 155, 413, 0.375, 295, 378, 0.78, 32, 312, 344, 382, 57, 24, 157, 74, 1388, 1464, 2.43, 0.36, '2023-24')
(2, 1629029, 3, 'Luka Doncic', 1610612742, 'DAL', 66, 2391, 719, 1449, 0.496, 185, 541, 0.342, 515, 694, 0.742, 54, 515, 569, 529, 90, 33, 236, 166, 2138, 2214, 2.24, 0.38, '2022-23')
(3, 1628973, 4, 'Jalen Brunson', 1610612752, 'NYK', 47, 1678, 450, 936, 0.481, 129, 309, 0.417, 243, 291, 0.835, 27, 155, 182, 301, 42, 10, 108, 97, 1272, 1165, 2.79, 0.39, '2023-24')
(3, 1628983, 4, 'Shai Gilgeous-Alexander', 1610612760, 'OKC', 68, 2416, 704, 1381, 0.51, 58, 168, 0.345, 669, 739, 0.905, 59, 270, 329, 371, 112, 65, 192, 192, 2135, 2073, 1.93, 0.58, '2022-23')
(4, 203507, 5, 'Giannis Antetokounmpo', 1610612749, 'MIL', 63, 2024, 707, 1278, 0.553, 47, 171, 0.275, 498, 772, 0.645, 137, 605, 742, 359, 52, 51, 246, 197, 1959, 2072, 1.46, 0.21, '2022-23')
(4, 1628369, 5, 'Jayson Tatum', 1610612738, 'BOS', 46, 1650, 417, 885, 0.471, 139, 379, 0.367, 262, 322, 0.814, 42, 345, 387, 204, 47, 26, 119, 95, 1235, 1252, 1.71, 0.4, '2023-24')

**Challenge Question**

Who's going to score the most points during the 2023-24, how many points will he score, and how many points will he average per game?

Notes:
- 2020-21 and 2021-22 seasons featured 72 games each. All other seasons features 82 games.
- Teams this season have played between 49 and 52 games.

In [ ]:
# Code to start with
cursor = conn.execute(text(
    """with combined as
    (
      select *, '2023-24' as season, 51 as total_games from league_leaders_23_24
      union
      select *, '2022-23' as season, 82 as total_games from league_leaders_22_23
      union
      select *, '2021-22' as season, 82 as total_games from league_leaders_21_22
      union
      select *, '2020-21' as season, 72 as total_games from league_leaders_20_21
      union
      select *, '2019-20' as season, 72 as total_games from league_leaders_19_20
    ),

    -- calculate the how many games each team has played this season and join back into main CTE
    max_games as
    (
      select
        team,
        max(gp) as games_played
      from
        league_leaders_23_24
      group by team
    ),
    new_combined as
    (
      select
        combined.*,
        coalesce(max_games.games_played, combined.total_games) as total_gp
      from
        combined left join
        max_games on combined.team=max_games.team and season='2023-24'
    )
    select * from new_combined
    limit 10
    """
))
for row in cursor:
  print(row)

(0, 201935, 1, 'James Harden', 1610612745, 'HOU', 68, 2483, 672, 1514, 0.444, 299, 843, 0.355, 692, 800, 0.865, 70, 376, 446, 512, 125, 60, 308, 227, 2335, 2220, 1.66, 0.41, '2019-20', 72, 72)
(0, 201939, 1, 'Stephen Curry', 1610612744, 'GSW', 63, 2152, 658, 1365, 0.482, 337, 801, 0.421, 362, 395, 0.916, 29, 316, 345, 363, 77, 8, 213, 119, 2015, 1855, 1.7, 0.36, '2020-21', 72, 72)
(0, 1628369, 1, 'Jayson Tatum', 1610612738, 'BOS', 74, 2732, 727, 1559, 0.466, 240, 686, 0.35, 531, 622, 0.854, 78, 571, 649, 342, 78, 51, 213, 160, 2225, 2209, 1.61, 0.37, '2022-23', 82, 82)
(0, 1628983, 1, 'Shai Gilgeous-Alexander', 1610612760, 'OKC', 49, 1693, 534, 975, 0.548, 59, 167, 0.353, 399, 448, 0.891, 45, 232, 277, 322, 111, 42, 107, 127, 1526, 1681, 3.01, 1.04, '2023-24', 51, 50)
(0, 1629027, 1, 'Trae Young', 1610612737, 'ATL', 76, 2652, 711, 1544, 0.46, 233, 610, 0.382, 500, 553, 0.904, 50, 234, 284, 737, 72, 7, 303, 128, 2155, 2066, 2.43, 0.24, '2021-22', 82, 82)
(1, 201942, 2, 'DeMar DeRozan', 1610612741, 'CHI', 76, 2743, 774, 1535, 0.504, 50, 142, 0.352, 520, 593, 0.877, 56, 336, 392, 374, 68, 24, 181, 178, 2118, 1961, 2.07, 0.38, '2021-22', 82, 82)
(1, 203081, 2, 'Damian Lillard', 1610612757, 'POR', 66, 2474, 624, 1349, 0.463, 270, 674, 0.401, 460, 518, 0.888, 33, 251, 284, 530, 70, 22, 194, 114, 1978, 1907, 2.73, 0.36, '2019-20', 72, 72)
(1, 203081, 2, 'Damian Lillard', 1610612757, 'POR', 67, 2398, 602, 1334, 0.451, 275, 704, 0.391, 449, 484, 0.928, 32, 251, 283, 505, 62, 17, 203, 102, 1928, 1825, 2.49, 0.3, '2020-21', 72, 72)
(1, 203507, 2, 'Giannis Antetokounmpo', 1610612749, 'MIL', 48, 1698, 561, 915, 0.613, 22, 86, 0.256, 358, 541, 0.662, 124, 422, 546, 305, 68, 53, 172, 145, 1502, 1765, 1.77, 0.4, '2023-24', 51, 50)
(1, 203954, 2, 'Joel Embiid', 1610612755, 'PHI', 66, 2284, 728, 1328, 0.548, 66, 200, 0.33, 661, 771, 0.857, 113, 557, 670, 274, 66, 112, 226, 205, 2183, 2369, 1.21, 0.29, '2022-23', 82, 82)

My Solution

In [ ]:
cursor = conn.execute(text(
    """with combined as
    (
      select *, '2023-24' as season, 51 as total_games from league_leaders_23_24
      union
      select *, '2022-23' as season, 82 as total_games from league_leaders_22_23
      union
      select *, '2021-22' as season, 82 as total_games from league_leaders_21_22
      union
      select *, '2020-21' as season, 72 as total_games from league_leaders_20_21
      union
      select *, '2019-20' as season, 72 as total_games from league_leaders_19_20
    ),

    -- calculate the how many games each team has played this season and join back into main CTE
    max_games as
    (
      select
        team,
        max(gp) as games_played
      from
        league_leaders_23_24
      group by team
    ),
    new_combined as
    (
      select
        combined.*,
        coalesce(max_games.games_played, combined.total_games) as total_gp
      from
        combined left join
        max_games on combined.team=max_games.team and season='2023-24'
    ),

    -- find what percentage of games each player typically plays over the past five seasons
    perc_played_hist as
    (
      select
        *,
        cast(gp as float)/total_gp as perc_played
      from
        new_combined
    ),
    perc_played_player as
    (
      select
        player,
        player_id,
        avg(perc_played) as avg_perc_played
      from
        perc_played_hist
      group by 1,2
    ),

    -- join avg game played back into main CTE and use for final calculations
    current_year as
    (
      select
        new_combined.*,
        perc_played_player.avg_perc_played,
        cast(pts as float)/gp as ppg
      from
        new_combined inner join
        perc_played_player on new_combined.player_id=perc_played_player.player_id
      where new_combined.season='2023-24'
    ),
    final as
    (
      select
        player,
        player_id,
        pts + ppg*(82-total_gp)*avg_perc_played as total_pts,
        ppg,
        round(gp+(82-total_gp)*avg_perc_played) as games_played
      from current_year
    )

    select * from final
    order by total_pts desc
    limit 10
"""
))
for row in cursor:
  print(row)

('Luka Doncic', 1629029, 2494.466285596048, 34.829268292682926, 72.0)
('Giannis Antetokounmpo', 203507, 2356.6556386630537, 31.291666666666668, 75.0)
('Shai Gilgeous-Alexander', 1628983, 2313.3967572590013, 31.142857142857142, 74.0)
('Joel Embiid', 203954, 2103.9469512195124, 35.3235294117647, 60.0)
('Jalen Brunson', 1628973, 2090.845680216802, 27.25, 77.0)
('Nikola Jokic', 203999, 2061.7841459347965, 26.346938775510203, 78.0)
('Jayson Tatum', 1628369, 2059.52956097561, 27.0, 76.0)
('Trae Young', 1629027, 2027.1756651884698, 27.318181818181817, 74.0)
('Anthony Edwards', 1630162, 1977.3149766476388, 25.595744680851062, 77.0)
('Devin Booker', 1626164, 1969.0625417508716, 27.829268292682926, 71.0)

Put any notes about your solution here.

This last line is to close the connection with the SQL database we created. If we run it before finishing, we need to recreate everything over again.

In [ ]:
conn.close()

('A.J. Lawson', 1630639, 185.0, 30.0, 65.0, 11.0, 15.0, 82.0, 11.0, 33.0)
('AJ Green', 1631260, 191.0, 29.0, 65.0, 4.0, 4.0, 86.0, 24.0, 56.0)
('AJ Griffin', 1631100, 125.0, 12.0, 40.0, 2.0, 2.0, 35.0, 9.0, 30.0)
('Aaron Gordon', 203932, 1147.0, 204.0, 368.0, 79.0, 127.0, 507.0, 20.0, 67.0)
('Aaron Holiday', 1628988, 631.0, 87.0, 202.0, 23.0, 26.0, 241.0, 44.0, 111.0)
('Aaron Nesmith', 1630174, 914.0, 153.0, 296.0, 41.0, 57.0, 423.0, 76.0, 163.0)
('Aaron Wiggins', 1630598, 455.0, 71.0, 123.0, 20.0, 27.0, 180.0, 18.0, 36.0)
('Adama Sanogo', 1641766, 11.0, 3.0, 3.0, 2.0, 3.0, 8.0, 0.0, 0.0)
('Admiral Schofield', 1629678, 44.0, 5.0, 13.0, 0.0, 2.0, 12.0, 2.0, 8.0)
('Al Horford', 201143, 895.0, 97.0, 200.0, 12.0, 14.0, 257.0, 51.0, 127.0)